body{
    text-align: center;
    padding: 100px;
    position: absolute;
}
h1{

    background-color: white;
    padding: 8px;
    text-align: center;
    width: fit-content;
    border: solid 1.7px;
}
.text-box{
    font-size: larger;
    padding: 12px;
    height: 100%;
    background-color: transparent;
}

.box {
    padding: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}
textarea{
    padding: 0;
    border-radius: 5px;
    width: 100%;
    border: solid 1px;
}
.scroll{
    resize: none;
    overflow: hidden;
}
li{
    font-weight: 450;
    font-size: larger;
    color: black;
    list-style: none;
    width: min-content;
}
.list-bar{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    font-weight: 700;
}